body{
    margin: 0px;
    padding: 0px;
    background-color: #FCDEC0;
    color: #865439;
}
h1{
    text-align: center;
    font-family: "Ceviche One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    
}
.text-container{
    margin: 30px;
    background-color: #865439;
    padding: 20px;
    border-radius: 20px;
    box-shadow: #79543f 5px 5px 35px;
}
.more_btn{
    display: block;
    margin-left: auto; /* Push the button to the right */
    padding: 10px 20px;
    background-color: #FCDEC0;
    color: #865439;
    font-weight: bold;
    box-shadow: #745f4c 0px 0px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.more_btn:hover {
    background-color: #f7cca2;
    color: black;

}
.text-container p{
    color: #FCDEC0;
    font-size: 18px;
}
p:first-of-type {
    line-height: 1.8;
    text-align: center;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight:bold 700;
    font-style:normal;
}

p:last-of-type {
    font-family: "roboto", serif;
    font-optical-sizing: auto;
    font-weight:bold 700;
    font-style:normal;line-height: 1.5;
    text-align: justify;
}
.image-container {
    font-family: "roboto", serif;
    font-weight: bold 900;
    text-align: center;
    margin: 20px 0;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius:20px;
    box-shadow:#64574b 5px 5px 20px;
}

table {
    width: 40%;
    border-collapse: collapse;
    border-radius: 20px; 
    overflow: hidden;
    margin: 10px;
}

th, td {
    border: 1px solid #FCDEC0; 
    padding: 10px;
    color: #FCDEC0;
    font-family: "roboto";
    background-color: #865439;
    text-align: center; /
}
.forms{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #865439;
    margin: 10px;
    border-radius: 20px;
}
.forms-table{
    display: flex;
    justify-content: space-around;
}
.text-box, .email-box {
    margin: 10px 0; 
    padding: 10px;
    width: 85%; 
    border:1px solid #865439;
    border-radius: 20px; 
    font-size: 14px; 
}
.forms h2{
    color: #FCDEC0;
    font-family: "roboto";
}
.submit-btn{
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #FCDEC0;
    color: #865439;
    font-family: "roboto";
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #f7cca2;
    color: #fff;
}